<!DOCTYPE html>
<html>
    <head>
        <title>admissions</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <div class="banner-div">
            <img src="../static/images/qis_banner.png" alt="No Image">
        </div>

        <div class="crud-div">
            <a href="/register"><h1>REGISTER</h1></a>
            <a href="/view"><h1>VIEW</h1></a>
            <a href="/update"><h1>UPDATE</h1></a>
            <a href="/delete"><h1>DELETE</h1></a>
        </div>
        <script src="../static/js/styles.js"></script>
    </body>
</html>