<!DOCTYPE html>
<html>
    <head>
        <title>admissions</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <div class="banner-div">
            <img src="../static/images/qis_banner.png" alt="No Image">
        </div>

        <div class="register-div">
            <form action="/register" method="post" onsubmit="alert('registed')">
                <input type="number" name="id" required placeholder="ID"><br>
                <input type="text" name="name" required placeholder="Name"><br>
                <input type="email" name="email" required placeholder="Email"><br>
                <input type="number" name="phone" required placeholder="Phone"><br>
                <input type="number" name="percentage" required placeholder="Inter Percentage"><br>
                <input type="number" name="rank" required placeholder="Eamcet Rank"><br>
                <!-- <input type="text" name="course" required placeholder="Course Interested"><br> -->
                 <select name="course">
                    <option disabled selected>Choose Course</option>
                    <option>CSE</option>
                    <option>IT</option>
                    <option>ECE</option>
                    <option>EEE</option>
                    <option>Mech</option>
                    <option>Civil</option>
                 </select>
                <input type="text" name="address" required placeholder="Address"><br>
                <button type="submit">Register</button>
            </form>
        </div>
        <script src="../static/js/styles.js"></script>
    </body>
</html>